GOOGLE_SHEET_ID=1yhtm8pTJ9VP0TUrFm2JedYoCZ_M22K196luw3u9Xl4s
GOOGLE_SHEET_GID_DATABASE=946404240
GOOGLE_SHEET_GID_NAP_DOWN=1995500191
GOOGLE_PUBLISHED_ID=2PACX-1vSKPMOn6CXZN3xn1zyKGcDyayAHLMuntjJ137x5dWxZzoJstX3Ef_XTtAgh6zId4n1gEyQBeL91lHFi
GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=<base64-encoded-service-account-json>
NOC_AGENT_TOKEN=<long-random-token>
